global  
    maxconn 256

defaults  
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http  
    bind 0.0.0.0:$PORT

    option forwardfor

    # Force SSL
    redirect scheme https code 301 if ! { hdr(x-forwarded-proto) https }

    # Redirect all requests to /api* to the `stock-valuation-backend` app.
    use_backend stock-valuation-backend if { path_beg /api }

    # And all other requests to `stock-valuation-frontend`.
    default_backend stock-valuation-frontend

backend stock-valuation-backend  
    http-request set-header X-Forwarded-Host stock-valuation.com
    http-request set-header X-Forwarded-Port %[dst_port]

    reqirep ^Host: Host:\ stock-valuation-backend.herokuapp.com

    server stock-valuation.com stock-valuation-backend.herokuapp.com:443 ssl verify none

backend stock-valuation-frontend
    http-request set-header X-Forwarded-Host stock-valuation.com
    http-request set-header X-Forwarded-Port %[dst_port]

    reqirep ^Host: Host:\ stock-valuation-frontend.herokuapp.com

    server stock-valuation.com stock-valuation-frontend.herokuapp.com:443 ssl verify none